@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@800&display=swap');

:root {
  --aside-padding: 10px;

  --text-color:           #d0d0d0;
  --accent-color-light:   #75badd;
  --accent-color:         #4ba6d3;
  --accent-color-dark:    #3b6a81;
  --low-contrast-color:   #4c626e;
  --accent-color-darker:  #273035;
  --background-color:     #1b2327;
  --secondary-color:      #b9913b;
  --secondary-color-dark: #6d5520;

  --links-width: 300px;
  --main-width: 600px;

}

html {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
  color: var(--accent-color-light);
}

body {
  display: grid;
  grid-template-columns: minmax(var(--main-width), 1fr) var(--links-width);
  grid-template-rows: 400px 1fr auto;
  grid-template-areas:
    'header links'
    'main   links'
    'footer links';

  min-height: 100vh;
  background-color: var(--background-color);
  overflow: scroll;
}

header {
  grid-area: header;
  background-image: url('../media/banner.jpg');
  background-size: auto 400px;

  display: grid;
  align-items: end;
}

.page-title {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  color: var(--secondary-color);
  text-align: center;

  background-color: var(--background-color);
  padding: 30px;

  text-shadow: 2px 2px var(--secondary-color-dark), -3px 5px rgba(0, 0, 0, 0.25);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  align-items: start;

  row-gap: 10px;
  padding: 25px 50px 50px 25px;

  margin-bottom: 20px;
  text-align: justify;
}

main > .logo {
  width: 8px;
  height: 128px;

  border-radius: 10%;

  background-image: url('../media/logo.png'), url('../media/logo-small.png');
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.section {
  overflow: auto;
  max-width: 900px;

  margin-left: 20%;
}

.section > h2 {
  color: var(--secondary-color);
  font-weight: bold;
}

.section > p {
  padding-bottom: 15px;
}

.section > img {
  width: 200px;
}

.right {
  float: right;
  padding-left: 20px;
  padding-bottom: 10px;
}

.left {
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
}

footer {
  grid-area: footer;
  text-align: center;
}

footer,
footer > a {
  color: var(--low-contrast-color);
}

aside.links {
  grid-area: links;
  padding: var(--aside-padding);
  background-color: var(--accent-color-darker);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr;
  grid-template-areas:
    'title  '
    'contenido';
}

.title {
  grid-area: title;
  display: flex;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  padding-bottom: 10px;
  text-align: center;
}

.contenido {
  grid-area: contenido;

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;

  padding-left: 15px;
}

.contenido > div {
  display: grid;
  grid-template-rows: 30px;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr;

  row-gap: 10px;
  padding-bottom: 10px;
}

.contenido > div > div {
  display: grid;
  grid-template-columns: 64px 1fr;
  align-items: center;
  column-gap: 10px;
}

.contenido > div > div > img {
  width: 64px;
}

.filled {
  width: 44px !important;
  padding: 10px;
  border-radius: 5px;
}

.filled.white {
  background-color: white;
  box-shadow: 0px 3px grey;
}

.filled.accent {
  background-color: var(--accent-color);
  box-shadow: 0px 3px var(--accent-color-dark);
}

.map {
  border-radius: 2.5%;
}

.directions {
  padding-right: 15px;
}
