aside.sidebar {
  grid-area: sidebar;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    calc(var(--info-sidebar-width) - 2 * var(--aside-padding))
    75px 1fr;
  grid-template-areas:
    'logo'
    'title'
    'about';

  padding: var(--aside-padding);
  background-color: var(--accent-color-darker);

  position: relative;
  z-index: 1;
}

.logo {
  grid-area: logo;

  margin: 20px;
  border-radius: 10%;

  background-image: url('../media/logo.png'), url('../media/logo-small.png');
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.about {
  grid-area: about;
  padding: 10px 20px;
}

.about>p{
  padding: 0px 20px 10px 5px;
  text-align: justify;
}